/* ------------------- */
/* GENERAL DEFINITIONS */
/* ------------------- */

*{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    margin: 5px;
    padding: 10px;
    background-color: rgb(236, 23, 81);
    border-radius: 25px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    color: white;
}

.hbox{
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    color: white;
}

.logo-box{
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.logo-img{
    margin: auto auto;
    max-width: 50px;
    max-height: 50px;
    background-color: white;
    position: relative;
}

.logo-label{
    margin: 0 10px;
    position: absolute;
    font-size: x-large;
    color: rgb(236, 23, 81);
}

.logo-link{
    height: 50px;
}

.button{
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid white;
    background-color: rgb(28, 0, 136);
    color: white;
    font-size: larger;
    text-align: center;
    text-decoration: none;
}

.button:hover{
    background-color: rgb(236, 23, 81);
}


/* ---------- */
/* INDEX.HTML */
/* ---------- */


/* HEADER */

header{
    height: 100px;
    padding: 0 30px;
    background: rgb(28, 0, 136);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    list-style: none;
}

.profile li{
    display: inline-block;
    text-align: center;
}

.profile li a {
    text-decoration: none;
    color: white;
    display: block;
}

.profile li a:hover{
    color: rgb(180, 180, 180)
}

.menu a{
     color: white;
     text-decoration: none;
     text-transform: uppercase;
     padding: 0 10px;
}

.show-menu,
.hide-menu{
    font-size: 50px;
    cursor: pointer;
    display: none;
}

.show-menu{
    order: 1;
}
 
.show-menu:hover,
.hide-menu:hover,
.menu a:hover{
    color: rgb(180, 180, 180)
}

#check{
    display: none;
}


/* ABOUT ME */

#about-me{
    padding: 10px 30px;
    background-color: white;
    display: flex;
    align-items: center;
}

#profile-pic{
    margin: 10px;
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

#presentation{
    padding: 15px 20px;
    background-color: rgb(140, 140, 140);
    border-radius: 25px;
    color: white;
    font-size: large;
    text-indent: 2em;
}

#logo-github {
    height: 26px;
    margin: 5px;
    padding: 11px 34.1px;
}

#logo-linkedin {
    height: 30px;
    margin: 5px;
    padding: 9px 20.87px;
}


/* SKILLS */

#skills{
    padding: 10px 30px;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

#skill:hover{
    opacity: 0;
}


/* PROJECTS */

#projects{
    margin: 0px 30px;
    padding: 10px 10px;
    background-color: rgb(28, 0, 136);
    align-items: center;
    border-radius: 25px;
}

.thumbnail-box{
    min-width: 180px;
    min-height: 180px;
    width: 180px;
    height: 180px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.thumbnail-img{
    margin: auto auto;
    max-width: 170px;
    max-height: 170px;
    background-color: white;
    position: relative;
}

.description-box{
    max-width: 800px;
    min-height: 160px;
    margin: 5px;
    padding: 10px;
    background-color: rgb(236, 23, 81);
    border-radius: 5px;
    color: white;
}


/* EDUCATION */

#education{
    padding: 10px 30px;
    align-items: center;
    justify-content: space-evenly;
}

.university-img{
    max-width: 150px;
    max-height: 50px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}

.flag-pic{
    height: 50px;
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
}


/* CONTACT */

#contact{
    padding: 10px 30px;
    background: rgb(28, 0, 136);
    color: white;
    justify-content: space-evenly;
    align-items: center;
}


/* ------------- */
/* PROJECTS.HTML */
/* ------------- */

#all-projects{
    margin: 30px 30px;
    padding: 10px 10px;
    background-color: rgb(28, 0, 136);
    align-items: center;
    border-radius: 25px;
}


/* ---------- */
/* RESPONSIVE */
/* ---------- */

@media(max-width: 768px){
    

    /* GENERAL */

    .content{
        flex-direction: column;
    }


    /* HEADER */

    header{
        height: 150px;
    }

    .show-menu,
    .hide-menu{
        display: block;
    }

    .menu{
        width: 100%;
        height: 100vh;
        padding: 100px 0px;
        position: fixed;
        background: rgb(28, 0, 136);
        left: 0;
        right: -100%;
        top: 0;
        text-align: center;
        z-index: 100;
    }

    .menu a{
        padding: 20px;
        display: block;
    }

    .hide-menu{
        position: absolute;
        top: 50px;
        right: 50px;
    }

    #check:checked ~ .menu{
        display: none;
    }


    /* ABOUT ME */

    #about-me{
        flex-direction: column;
    }


    /* SKILLS */

    #skills{
        flex-direction: column;
    }
}