/* Aplica a todo el body */
/* _____________________ */

*
{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

/* Clases de contenedores */
/* ______________________ */

.section
{
    display: flex;
    flex-direction: column; /* Ordenar elementos verticalmente, uno abajo de otro. */
    align-items: center; /* Centrar elementos con respecto al eje vertical. */
    justify-content: space-around;
}

.fill-content
{
    width: 100%;
    display: flex;
    flex-direction: row; /* Ordenar elementos horizontalmente, uno al lado del otro. */
    align-items: center; /* Centrar elementos con respecto al eje horizontal. */
    justify-content: space-around;
}

.wrap-content
{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card
{
    margin: 30px 0px;
    width: 500px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Ordenar elementos verticalmente, uno abajo de otro. */
    align-items: center; /* Centrar elementos con respecto al eje vertical. */
    justify-content: space-between;
}

/* Clases de componentes */
/* _____________________ */

h1
{
    padding: 3% 5%;
    font-size: 26px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2
{
    padding: 3% 5%;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h6
{
    padding: 0% 5%;
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.paragraph
{
    font-size: 18px;
    text-align: left;
    text-indent: 20px;
}

.button
{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.project-image
{
    margin-left: 5%;
    height: 70%;
    width: 90%;
    background-color: white;
}

.logo-image
{
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
    position: relative;
}

.skill-image
{
    padding: 50px;
    width: auto;
    height: 100px;
}

.education-image
{
    padding: 20px;
    width: 100px;
    height: auto;
}

.link
{
    max-height: 88%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.label
{
    display: flex;
    flex-direction: row; /* Ordenar elementos horizontalmente, uno al lado del otro. */
    justify-content: space-evenly;
    align-items: center;
}

/* Clases de modificadores de geometría */
/* ____________________________________ */

.full-vh
{
    height: 100vh; /* El elemento tiene la misma altura que la altura del viewport o ventana. */
}

/* Clases de colores */
/* _________________ */

.hover:hover
{
    background-color: #666;
}

.light-background
{
    color: black;
    background-color: rgba(200, 200, 200, 0.1);
}

.gray-background
{
    color: white;
    background-color: #666;
}

.dark-background
{
    color: white;
    background-color: #222;
}

.light-shadow
{
    box-shadow: 0px -10px 20px rgba(200, 200, 200, 0.5), 0px 10px 20px rgba(200, 200, 200, 0.5);
}

.dark-shadow
{
    box-shadow: 0px -10px 20px #222, 0px 10px 20px #222;
}

/* Identificadores individuales */
/* ____________________________ */

#profile-image
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block; /* En vez de mostrarse en línea con el texto, se muestra como un bloque. */
    object-fit: cover; /* Escalar el contenido manteniendo la relación de aspecto. */
}

#presentation-paragraph
{
    width:90%;
    font-size: 18px;
    text-align: center;
}

#linkedin-image
{
    height: 30px;
    margin: 5px;
    padding: 9px 20.87px;
}

#github-image
{
    height: 26px;
    margin: 5px;
    padding: 11px 34.1px;
}