/* Aplica a todo el body */
/* _____________________ */

*
{
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
}

/* Clases de contenedores */
/* ______________________ */

section
{
    display: flex;
    flex-direction: column; /* Ordenar elementos verticalmente, uno abajo de otro. */
    align-items: center; /* Centrar elementos con respecto al eje vertical. */
    justify-content: space-around;
}

.filled-div
{
    width: 100%;
    display: flex;
    flex-direction: row; /* Ordenar elementos horizontalmente, uno al lado del otro. */
    align-items: center; /* Centrar elementos con respecto al eje horizontal. */
    justify-content: space-around;
}

.wrapped-div
{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-div
{
    margin: 30px 0px;
    width: 500px;
    height: 90vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Ordenar elementos verticalmente, uno abajo de otro. */
    align-items: center; /* Centrar elementos con respecto al eje vertical. */
    justify-content: space-between;
}

.label-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Clases de componentes */
/* _____________________ */

h1 /* Título de secciones */
{
    padding: 3% 5%;
    font-size: 26px;
    text-align: center;
}

h2 /* Título de proyectos */
{
    padding: 3% 5%;
    font-size: 24px;
    text-align: center;
}

h4 /* Labels */
{
    margin: 40px;
    font-size: 20px;
}

h5 /* Párrafo de presentación */
{
    width:90%;
    font-size: 18px;
    text-align: center;
}

h6 /* Descripción de proyectos */
{
    padding: 0% 5%;
    font-size: 16px;
    text-align: left;
    text-indent: 20px;
}

button {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-image
{
    height: 50px;
}

.project-image
{
    margin-left: 5%;
    height: 70%;
    width: 90%;
    background-color: white;
}

.logo-image
{
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
    position: relative;
}

.skill-image
{
    padding: 40px;
    width: auto;
    height: 80px;
}

.education-image
{
    padding: 20px;
    width: 100px;
    height: auto;
}

.div-link
{
    max-height: 88%;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

/* Clases de modificadores de geometría */
/* ____________________________________ */

.full-vh
{
    height: 100vh; /* El elemento tiene la misma altura que la altura del viewport o ventana. */
}

/* Clases de modificadores de colores */
/* __________________________________ */

.hover-button:hover
{
    background-color: #666;
}

.light-background
{
    color: black;
    background-color: rgba(200, 200, 200, 0.1);
}

.gray-background
{
    color: white;
    background-color: #666;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.dark-background
{
    color: white;
    background-color: #222;
}

.light-shadow
{
    box-shadow: 0px -10px 20px rgba(200, 200, 200, 0.5), 0px 10px 20px rgba(200, 200, 200, 0.5);
}

.dark-shadow
{
    box-shadow: 0px -10px 20px #222, 0px 10px 20px #222;
}

/* Identificadores individuales */
/* ____________________________ */

#profile-image
{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block; /* En vez de mostrarse en línea con el texto, se muestra como un bloque. */
    object-fit: cover; /* Escalar el contenido manteniendo la relación de aspecto. */
}