.small-button
{
    margin: 0px;
    padding: 5px 10px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.big-button
{
    margin: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.invisible-link
{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    display: inline-flex; /* El link toma el tamaño de su contenido. */
}

.transition
{
    transition: background-color 0.5s ease, transform 0.5s ease;
}