.pale-white-background {
    color: var(--soft-black);
    background-color: var(--pale-white);
}

.pale-black-background {
    color: var(--soft-gray);
    background-color: var(--pale-black);
}

.almost-black-background {
    color: var(--medium-gray);
    background-color: var(--almost-black);
}

.pure-white-text {
    color: var(--pure-white);
}

.light-gray-text {
    color: var(--light-gray);
}

.medium-gray-link {
    color: var(--medium-gray);
}

.medium-gray-link:hover {
    color: var(--light-gray);
}

.soft-black-link {
    color: var(--soft-black);
}

.soft-black-link:hover {
    color: var(--pure-black);
}