:root {
    /* Colors */
    --pure-white: #FFFFFF; /* Texto en títulos */
    --pale-white: #FAFAFA; /* Fondo por defecto */
    --light-gray: #F2F2F2; /* Texto resaltado */
    --soft-gray: #E5E5E5; /* Texto sobre fondo pale-black */
    --medium-gray: #CCCCCC; /* Texto sobre fondo almost-black */
    --dark-gray: #808080; /* Bordes de Textboxes y Buttons */
    --soft-black: #333333; /* Texto sobre fondo por defecto */
    --pale-black: #282828; /* Fondo de Footer */
    --almost-black: #1c1c1c; /* Fondo de Projects y Contact */
    --pure-black: #000000; /* Texto resaltado, Texto en títulos */

    /* Measures */
    --menu-height: 60px;
    --content-width: 90%;
    --button-width: 150px;
}