:root {
    --body-width: 1050px;
    --body-height: 1485px;
    --header-height: 290px;
    --footer-height: 70px;
}

.cv-body {
    width: var(--body-width);
    height: var(--body-height);
    margin: auto;
}

.cv-header {
    width: var(--body-width);
    height: var(--header-height);
}

.cv-left-column {
    width: calc(var(--body-width) / 2);
    height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
    gap: 20px;
}

.cv-right-column {
    width: calc(var(--body-width) / 2);
    height: calc(var(--body-height) - var(--header-height) - var(--footer-height));
    gap: 20px;
}

.cv-footer {
    width: var(--body-width);
    height: var(--footer-height);
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}