.width-100-pct
{
    width: 100%;
}

.width-90-pct
{
    width: 90%;
}

.height-100-vh
{
    min-height: 100vh; /* Totalidad del viewport según el dispositivo */
}

.height-50-px
{
    height: 50px;
}

.height-100-px
{
    height: 100px;
}