.header-menu ul
{
    padding: 0;
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 18px;
    color: #666;
    background-color: rgba(190, 190, 190, 0.95);
    text-shadow: 0px 0px 5px rgba(200, 200, 200, 0.95);
    box-shadow: 0px 5px 20px rgba(125, 125, 125, 0.5);
}

.header-menu li
{
    margin: 0px 10px;
}

.header-menu a
{
    color: #666;
    text-decoration: none;
}

.toggle-button
{
    width: 60px;
    height: 60px;
    display: none; /* Ocultar el botón en pantallas más grandes */
}