.header-tag {
    position: fixed;
    width: 100%;
    align-content: center;
    z-index: 1000;
    background-color: rgba(20, 20, 20, 0.85);
    box-shadow: 0px 5px 50px rgba(150, 150, 150, 0.1);
}

.header-nav {
    height: var(--menu-height);
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-nav ul li {
    display: inline-block;
    margin-left: 10px;
}

.header-nav a {
    font-size: 1.3rem;
    font-weight: 400;
}

.toggle-button {
    font-size: 1.5rem;
    color: var(--pure-white);
    background: transparent;
    border: none;
    box-shadow: none;
    display: none;
}

@media (max-width: 1000px) {
    .header-tag {
        background-color: var(--almost-black);
    }

    .header-nav ul {
        display: none;
    }

    .toggle-button {
        display: block;
    }

    .menu-active {
        flex-direction: column;
        height: 100vh;
    }

    .menu-active ul {
        height: 60vh;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-active ul li {
        margin: 20px;
    }

    .menu-active ul li a {
        font-size: 1.6rem;
    }

    .menu-active span {
        display: none;
    }

    .menu-active .toggle-button {
        display: block;
        margin: 0 auto 110px auto;
    }
}