.fit-image {
    width: 100%;
    object-fit: cover;
}

.square-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.circle-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    background-color: white;
    border-radius: 50%;
}

.small-logo {
    height: 20px;
    max-width: 90px;
}