html
{
    scroll-behavior: smooth;
}

/* ID */

#profileImg
{
    margin-top: 50px;
    width: 35vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover; /* Escalar el contenido manteniendo la relación de aspecto. */
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea
{
    width: 550px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #F8F8F8;
    margin: 10px 0px;
    padding: 5px 10px;
}

/* Responsive */

@media screen and (max-width: 575px)
{
    /* About Section */

    #aboutSec h1
    {
        margin: 5px 0px;
    }

    #aboutSec h3
    {
        font-size: 18px;
    }

    #aboutSec h5
    {
        font-size: 14px;
    }

    #profileImg
    {
        margin-top: 0px;
        width: 50%;
    }

    /* Skills Section */

    #skillsSec .margin-30-px
    {
        margin: 5px;
    }

    #skillsSec .padding-15-px
    {
        padding: 10px;
    }

    /* Projects Section */

    #projectsSec p
    {
        font-size: 14px;
    }

    #projectsSec .image-50-px
    {
        height: 30px;
    }

    /* Education Section */

    #educationSec .margin-30-px
    {
        margin: 0px;
    }

    #educationSec .image-50-px
    {
        height: 30px;
    }

    /* Contact Section */

    #socialMediaDiv .margin-0-10-px
    {
        margin: 10px 0px 25px;
    }

    #socialMediaDiv .padding-15-px
    {
        padding: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea
    {
        width: 250px;
    }
}