.textbox-input {
    width: 100%;
    margin: 5px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    color: var(--soft-gray);
    background-color: var(--pale-black);
    border: 2px solid var(--soft-black);
}

.textbox-input:focus {
    outline: none;
    border: 2px solid var(--dark-gray);
}