.margin-20-px
{
    margin: 20px;
}

.margin-30-px
{
    margin: 30px;
}

.margin-10-0-px
{
    margin: 10px 0px;
}

.margin-20-0-px
{
    margin: 20px 0px;
}

.margin-30-0-px
{
    margin: 30px 0px;
}

.margin-80-0-px
{
    margin: 80px 0px;
}

.margin-0-10-px
{
    margin: 0px 10px;
}

.margin-bottom-20-px
{
    margin-bottom: 20px;
}