.margin-10-px {
    margin: 10px;
}

.margin-vertical-10-px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-vertical-20-px {
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-horizontal-10-px {
    margin-right: 10px;
    margin-left: 10px;
}

.margin-horizontal-auto {
    margin-right: auto;
    margin-left: auto;
}

.margin-top-10-px {
    margin-top: 10px;
}

.margin-top-20-px {
    margin-top: 20px;
}

.margin-bottom-20-px {
    margin-bottom: 20px;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-left-auto {
    margin-left: auto;
}