.margin-10-px {
    margin: 10px;
}

.margin-20-px {
    margin: 20px;
}

.margin-10-0-px {
    margin: 10px 0px;
}

.margin-20-0-px {
    margin: 20px 0px;
}

.margin-0-10-px {
    margin: 0px 10px;
}

.margin-0-20-px {
    margin: 0px 20px;
}

.margin-top-10-px {
    margin-top: 10px;
}

.margin-top-20-px {
    margin-top: 20px;
}

.margin-right-10-px {
    margin-right: 10px;
}

.margin-right-20-px {
    margin-right: 20px;
}

.margin-bottom-10-px {
    margin-bottom: 10px;
}

.margin-bottom-20-px {
    margin-bottom: 20px;
}

.margin-top-auto {
    margin-top: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-bottom-auto {
    margin-bottom: auto;
}

.margin-vertical-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.margin-horizontal-auto {
    margin-right: auto;
    margin-left: auto;
}