@media screen and (max-width: 575px)
{
    /* Header */

    header
    {
        margin-left: 10px;
        justify-content: left;
    }

    .header-menu ul
    {
        flex-direction: column;
        display: none;
    }

    .header-menu ul.show
    {
        width: 250px;
        height: 100%;
        display: flex; /* Mostrar el menú cuando se activa el botón de menú */
    }

    .header-menu li
    {
        margin: 10px 0px;
    }

    .toggle-button
    {
        display: block; /* Mostrar el botón en pantallas pequeñas */
    }

    /* Containers */

    .project-card
    {
        width: 95%;
        height: 600px;
    }
}